.CustomButton {
  margin-top: 5px !important;
  width: 45px !important;
  height: 45px !important;
  border-radius: 50% !important;
  background-color: inherit !important;
}

.CustomButton:hover {
  background-color: #201c06 !important;
}
